.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 70px;
  // position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1;

  & * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.topBarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  position: relative;
}

.navItems {
  display: flex;
  margin-right: 30px;
  gap: 30px;
}

.navButton {
  font-weight: 500;
  transition: all 0.3s;

  .anticon {
    transition: transform 0.3s ease;
  }

  .anticon-up,
  .anticon-down {
    width: 14px;
    height: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  margin-bottom: 0 !important;
}

.rightControls {
  display: flex;
  margin-left: 30px;
  align-items: center;
  gap: 30px;
}

.authorInfo {
  opacity: 0.8;
  transition: all 0.3s ease;
  margin: 0;
}

:global(.ant-drawer-header-title) {
  flex-direction: row-reverse;
}

.icon {
  margin-left: 10px;
}

/* Mobile styles */
@media (max-width: 1010px) {
  .topBarContent {
    justify-content: space-between;
  }

  .hamburgerMenu {
    padding: 0;
    margin-right: 10px;
  }

  .title {
    //font-size: 18px !important;
    margin: 0 auto !important;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .mobileControls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }
}