.container {
  --card-width: 400px;
  --card-gap: 16px;
  --top-position: 80px;
  --side-margin: 20px;
  max-width: 100%;
  max-height: 100%;
}

.leftContainer {
  position: absolute;
  top: var(--top-position);
  left: var(--side-margin);
  width: var(--card-width);
  pointer-events: auto;
  z-index: 1;
  max-height: calc(100vh - var(--top-position) - 20px);
  overflow: auto;
}

.rightContainer {
  position: absolute;
  top: var(--top-position);
  right: var(--side-margin);
  width: var(--card-width);
  pointer-events: auto;
  z-index: 1;
}

.card {
  margin-bottom: var(--card-gap);
}

.fileName {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.confirmButton {
  margin-top: var(--card-gap);
}

.dataInfo {
  margin-bottom: var(--card-gap);
}


.modalWrap {
  // overflow: hidden !important;
  overflow: hidden !important;
}

.uploadContainer {
  height: 20px;
}

.presetSelect {
  margin-left: 15px;
}

.divButton {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: var(--card-gap);
}

@media (max-width: 900px) {
  //.container {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  padding: 10px;
  //}

  .leftContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    left: 50%;
    right: 50%;
    transform: translate(-50%);

    .flex {
      flex-direction: column;
    }


    * {
      font-size: 0.8rem !important;
    }

    .card {
      width: 40%;
      pointer-events: all;
      height: fit-content;
      max-height: 80vh;
      overflow: auto;
    }

    .flex {
      display: flex;
    }
  }

  .rightContainer {
    display: none; // 隐藏右侧容器
  }

  .card {
    width: 100%;
  }

  .presetSelect {
    margin-left: 0;
    width: 100%;
    margin-top: var(--card-gap);
  }

  .uploadContainer {
    margin-top: 10px;
  }
}
